<h1>My Project List</h1>
<div>
  <label>Project name:
    <input #projectName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(projectName.value); projectName.value=''">
    add
  </button>
</div>

<ul class="projects">
  <li *ngFor="let project of projects">
    <a routerLink="/detail/{{project.id}}">
      <span class="badge">{{project.id}}</span> {{project.name}}
    </a>
    <button class="delete" title="delete project"
      (click)="delete(project)">x</button>
  </li>
</ul>
